@import "../colors";
@import "../fonts";
@import "../mixings";
@import "../functions";

.contact_section {
  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 45px;
  }
  .form_container {
    padding: 0 45px;
    input {
      width: 100%;
      height: 30px;
      margin-top: 10px;
      border: none;
      border-bottom: border(1px, $dark-color);
      outline: none;
      &::-webkit-input-placeholder {
        color: $dark-color;
      }
      &:-ms-input-placeholder {
        color: $dark-color;
      }
      &::-ms-input-placeholder {
        color: $dark-color;
      }
      &::placeholder {
        color: $dark-color;
      }
    }
    input.message_input {
      margin-top: 45px;
    }
    button {
        @include btn-send;
    }
  }
  .contact_box {
    margin-top: 35px;
    a {
      @include display-flex;
      @include align-center;
      color: $dark-color;
      margin: 15px 0;
      .img-box {
        width: 45px;
        height: 45px;
        padding: 10px;
        border: 1px solid #363535;
        @include display-flex;
        @include justify-center;
        @include align-center;
        margin-right: 15px;
        img {
          width: 100%;
        }
      }
    }
  }
}